
.container {
  width: 400px;
}

.title {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  margin: 0;
  max-width: 12ch;
  line-height: 3.25rem;
}

.titlePrimary {
  font-weight: 600;
  color: #ffe900;
}

.description {
  font-size: 0.875rem;
  color: lightgray;
  margin: 0;
}

.button {
  width: 200px;
  height: 40px;
  background-color: #ffe900;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
}